.footer{
	margin:0px auto;
	padding:20px 0px 20px 0px;
	background-color:#eee6ff;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9966ff ;
    color:floralwhite;
}
.row-header{
	margin:0px auto;
	padding:0px;
}
.row-content{
	margin:0px auto;
	padding:30px 0px 30px 0px;
	min-height:500px;
}
address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.image{
	width:50px;
	height:50px;
	padding-left:30px;
}
body{
	padding: 50px 0px 50px 0px;
	z-index:0;
}
.navbar-dark{
	background-color: #512DA8;
}